{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {
    "collapsed": false
   },
   "source": [
    "## SCMeTA Data Process example pipeline\n",
    "\n",
    "This is the example of SCMeTA Data Process pipeline.\n",
    "\n",
    "More details can be found in the [documentation](https://sc-meta.com)."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {
    "collapsed": true
   },
   "outputs": [],
   "source": [
    "from SCMeTA import Process\n",
    "# Import Data\n",
    "sc = Process(ref_mz=760.58)\n",
    "# Path can be a file or a folder\n",
    "path = \"path/to/data/\"\n",
    "sc.load(path)\n",
    "\n",
    "# Pre-process is necessary\n",
    "sc.pre_process()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "source": [
    "# Process Data\n",
    "sc.process()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "source": [
    "# Post-Process Data\n",
    "normalize_method = [\"log\", \"z-score\"]\n",
    "data = sc.post_process(normalize_method=normalize_method)\n",
    "\n",
    "# Optional\n",
    "# Save Data\n",
    "# sc.save(data, path)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "source": [
    "from SCMeTA import Plot\n",
    "# Visualize Data\n",
    "plot = Plot()\n",
    "plot.load(data)\n",
    "plot.scatter_select()"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 0
}
